<!DOCTYPE html>
<html>
<head>
    <title>Checkbox con Opciones y Sub-Opciones</title>
</head>


<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">hola</h2>
            <form id="miFormulario">
                <label for="checkbox">Marcar para mostrar opciones:</label>
                <input type="checkbox" id="checkbox">
                
                <div id="opciones" style="display: none;">
                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion1">Puesta a Punto:</label>
                        <input type="text" class="opcion-input" name="opcion1" disabled>
                    </div>
                    
                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Bujías:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Cables de Bujías:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Filtro de aire:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Filtro de Nafta o Gasoil:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Filtro de Habitáculo:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Tapa de Distribuidor:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Rotor:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Carburador:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Diafragma:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Regulacion Válvulas:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Bomba de Nafta:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Caños de Nafta:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Limpieza Inyectores:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Sonda Lambda:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Emision de Gases:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Potenciómetro:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Motor Paso a Paso:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">M.A.P:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Bobina de Encendido:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Caja electrónica:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Sensores:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>

                    <div class="opcion">
                        <input type="checkbox" class="opcion-checkbox">
                        <label for="opcion2">Análisis por Escaner:</label>
                        <input type="text" class="opcion-input" name="opcion2" disabled>
                    </div>
                </div>
            </form>
        <div class="card-footer"><input type="submit" value="Enviar" class="btn btn-primary btn-sm"></input></div>
    </div>
</div>

<script>
    const checkbox = document.getElementById('checkbox');
    const opciones = document.getElementById('opciones');
    const opcionCheckboxes = document.querySelectorAll('.opcion-checkbox');
    const opcionInputs = document.querySelectorAll('.opcion-input');
    
    checkbox.addEventListener('change', function() {
        opciones.style.display = this.checked ? 'block' : 'none';
        
        if (!this.checked) {
            opcionInputs.forEach(function(opcionInput) {
                opcionInput.value = ''; // Limpiar el contenido al ocultar las opciones
                opcionInput.disabled = true;
            });
        }
    });
    
    opcionCheckboxes.forEach(function(opcionCheckbox, index) {
        opcionCheckbox.addEventListener('change', function() {
            opcionInputs[index].disabled = !this.checked;
        });
    });
</script>

</body>
</html>