{% extends 'repuestos/index.html' %}


{% block INDEX_CONTENIDO %}
<!DOCTYPE html>
<html>
<head>
    <title>Checkbox con Opciones</title>
</head>
<body>
    <form id="miFormulario">
        <label for="checkbox">Marcar para mostrar opciones:</label>
        <input type="checkbox" id="checkbox">
        
        <div id="opciones" style="display: none;">
            <label for="opcion1">Opción 1:</label>
            <input type="text" id="opcion1" name="opcion1"><br>
            
            <label for="opcion2">Opción 2:</label>
            <input type="text" id="opcion2" name="opcion2"><br>
        </div>
        
        <input type="submit" value="Enviar">
    </form>
    
    <script>
        const checkbox = document.getElementById('checkbox');
        const opciones = document.getElementById('opciones');
        
        checkbox.addEventListener('change', function() {
            opciones.style.display = this.checked ? 'block' : 'none';
        });
    </script>
</body>
</html>


{% endblock INDEX_CONTENIDO %}


